---
import Header from "../components/header.astro";
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header />
		<h1>やゾについて</h1>
		<p>「やゾ」には実は付随するkaomojiがあります。</p>
		<p>(「'・Д・)「　←これですね。「シャー」って入力されるとこれに変換されたりもします。</p>
		<p>(「 '・ω・)「　←これも許されています。</p>
		<p>みんなも使っていきましょう。</p>
		<h2>はいっ！！せーーのっ！！</h2>
		<p>やゾ(「'・Д・)「</p>
	</body>
</html>
