---
import Header from "../components/header.astro";
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header />
		<h1>やゾのAstro</h1>
		<p>こんにちは！やゾです</p>
		<p>「や」はひらがなで、「ゾ」はカタカナです。</p>
		<p>astroチュートリアルを終えて、ページを開設できた記念にhtmlやらcssやらjavascriptの勉強のためにこのサイトを開発しています。</p>
		<p>勉強したことはblogに日記的に書いています。</p>
		<h2>どうぞよろしくお願いします</h2>
	</body>
</html>
