---
---
<div class="nav-links">
    <a class="navigationIcons" href="/">Home</a>
    <a class="navigationIcons" href="/about">About</a>
    <a class="navigationIcons" href="/blog">Blog</a>
</div>
<style>
    .nav-links{
        font-size: 40px;
        background-color: #728D81;
        padding-bottom: 20px;
    }
    .navigationIcons{
        color:#bce1b5 ;
        font-size: 20px;
        font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
        font-weight: 600;
        text-decoration: none;
        padding-left: 40px;
    }
    .navigationIcons:hover{
        color: #49d62d;
    }
</style>